       <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Bem vindo ao futuro do cultivo indoor</div>
                <div class="masthead-heading text-uppercase">Conheça nossos equipamentos</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Ver mais</a>
            </div>
        </header>

        <!-- Serviços -->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Serviços</h2>
                    <h3 class="section-subheading text-muted">Estufas e acessórios aliados com alta tecnologia para levar seu cultivo indor a outro patamar</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fab fa-pagelines fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Estufas</h4>
                        <p class="text-muted">Nossas estufas são equipadas com alta tecnologia, para ajudar seu cultivo a obter melhores resultados e um melhor aproveitamento de recursos.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">App</h4>
                        <p class="text-muted">Desenvolvemos um app totalmente intuitivo e com todos os dados necessários para o monitoramente e controle de sua plantação.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-bolt fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Acessórios</h4>
                        <p class="text-muted">Contamos com uma vasta gama de acessórios, para que possa expandir as fronteiras e conseguir usar nossa tecnologia em outros tipos de cultivos.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Galeria -->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Galeria</h2>
                    <h3 class="section-subheading text-muted">Imagens de alguns produtos e equipamentos da Grenn House</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/01-thumbnail.jpg" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Estufa X1</div>
                                <div class="portfolio-caption-subheading text-muted">Cultivo</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/02-thumbnail.jpg" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Estufa X1G</div>
                                <div class="portfolio-caption-subheading text-muted">Cultivo</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/03-thumbnail.jpg" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">LED GROW 30W</div>
                                <div class="portfolio-caption-subheading text-muted">Acessórios</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/04-thumbnail.jpg" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Sensor de umidade</div>
                                <div class="portfolio-caption-subheading text-muted">Acessórios</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/05-thumbnail.jpg" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Estufa</div>
                                <div class="portfolio-caption-subheading text-muted">Cultivo</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/06-thumbnail.jpg" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Sensor de Ph</div>
                                <div class="portfolio-caption-subheading text-muted">Acessórios</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sobre -->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Sobre</h2>
                    <h3 class="section-subheading text-muted">A história da empresa</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Março 2020</h4>
                                <h4 class="subheading">Necessidade</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Em Março de 2020 o Brasil iniciou sua quarentena devido a pandemia do coronavirus. Com isso aumentando a necessidade de isolamento, muitas pessoas começaram a criar suas proprias mudas em casa. Nesse ponto tivemos a idéia de levar tecnologia e facilitar para quem não tem tando conhecimento ou tempo.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Junho 2011</h4>
                                <h4 class="subheading">Protótipo</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Com os levantamento feitos pela equipe iniciamos o projeto. Com ajuda da impressão 3d conseguimos desenvolver o primeiro protótipo para testes.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Agosto 2020</h4>
                                <h4 class="subheading">Automação</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Demos inicio o desenvolvimento do cerebro da estufa. Utilizamos diversos sensores para capturarmos todos os dados disponíveis da planta, com isso conseguir melhores resultados. Uma parte que sempre esta evoluindo contantemente.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Setembro 2020</h4>
                                <h4 class="subheading">Fase final</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">A fase final de testes e melhorias do projeto. Após esse passo ficamos perto de lançar nosso produto no mercado.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Aguardando
                                <br />
                                o
                                <br />
                                Lançamento!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Time -->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Equipe</h2>
                    <h3 class="section-subheading text-muted">O time de desenvolvedores e projetistas.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="" />
                            <h4>Luis Faleiros</h4>
                            <p class="text-muted">Programador/Eletronica</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="" />
                            <h4>Nathann Oliveira</h4>
                            <p class="text-muted">Programador/Eletronica</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="" />
                            <h4>Paulo Lima</h4>
                            <p class="text-muted">Programador/Projetista</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">A equipe responsável por desenvolver as estufas e equipamentos da Grenn House!</p></div>
                </div>
            </div>
        </section>
